In [1]:
import pandas as pd 
import numpy as np

Basic DataFrame

Consider the following Python dictionary data and Python list labels:

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills', 'Cranes'], 
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4, 3.5], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2, 2], 
        'priority': ['yes', 'yes', 'no', np.nan, 'no', 'no', 'no', 'yes', 'no', 'no','yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [4]:
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills', 'Cranes'], 
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4, 3.5], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2, 2], 
        'priority': ['yes', 'yes', 'no', np.nan, 'no', 'no', 'no', 'yes', 'no', 'no','yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [11]:
df = pd.DataFrame(data = data,index=labels)

In [12]:
df.columns

Index(['birds', 'age', 'visits', 'priority'], dtype='object')

Q-1:
i. Create a DataFrame birds from the above dictionary data which has the index labels.

ii. Display basic information about the dataFrame.

iii. Show Alternate rows of the dataframe.

In [17]:
df.groupby('birds')['age'].sum()

birds
Cranes        14.0
plovers        7.0
spoonbills    18.0
Name: age, dtype: float64

In [18]:
#ii. Display basic information about the dataFrame.

df.describe()

            age     visits
count  9.000000  11.000000
mean   4.333333   2.818182
std    1.903943   0.873863
min    1.500000   2.000000
25%    3.500000   2.000000
50%    4.000000   3.000000
75%    5.500000   3.500000
max    8.000000   4.000000

In [31]:
df.iloc[:-1]

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      NaN
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

In [23]:
d = """{
    "name":"shashi",
    "email id":"shashipolity@gmail.com",
    "tech":["DL","ML","CV"],
    "platforms":["Ineuron","TechNeuron","KidsNeuron"]
}"""

In [25]:
import json
res = json.loads(d)

In [26]:
pd.DataFrame(res)

     name                email id tech   platforms
0  shashi  shashipolity@gmail.com   DL     Ineuron
1  shashi  shashipolity@gmail.com   ML  TechNeuron
2  shashi  shashipolity@gmail.com   CV  KidsNeuron